<div class="container">
  <h2>User List</h2>
  <button (click)="openModal(myModal)" class="btn btn-primary">New</button>
  <br/>
  <table class="table">
    <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Action</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.mail }}</td>
      <td>{{ user.age }}</td>
      <td>
        <div class="field">
          <button class="btn btn-primary" (click)="EditUser(user)">Edit</button>
        </div>
      </td>
      <td>
        <div class="field">
          <button class="btn btn-danger" (click)="deleteUser(user)">x</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<!-- <ng-template #myModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create New User</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form #f="ngForm"
          (ngSubmit)="addUser()">

      <div class="form-group">
        <label for="nameInput">Name:</label>
        <input type="text" id="nameInput" placeholder="First name" [(ngModel)]="newUser.name" name="name" class="form-control">
      </div>

      <div class="form-group">
        <label for="surnameInput">Surname:</label>
        <input type="text" id="surnameInput" placeholder="Lastname" [(ngModel)]="newUser.surname" name="surname" class="form-control">
      </div>

      <div class="form-group">
        <label for="emailInput">Email:</label>
        <input type="text" id="emailInput" placeholder="some@mail.example" [(ngModel)]="newUser.mail" name="email" class="form-control">
      </div>

      <div class="form-group">
        <label for="ageInput">Age:</label>
        <input type="text" id="ageInput" placeholder="0" [(ngModel)]="newUser.age" name="age" class="form-control">
      </div>

      <div class="field">
        <button type="submit" class="btn btn-primary">Add</button>
      </div>

    </form>
  </div>
</ng-template> -->


<ng-template #myModal>
  <app-popup [modalRef]="modalRef"></app-popup>
</ng-template>
